<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.NewsCategoryMapper">
    
    <resultMap type="NewsCategory" id="NewsCategoryResult">
        <result property="categoryId"    column="category_id"    />
        <result property="categoryName"  column="category_name"  />
        <result property="categoryCode"  column="category_code"  />
        <result property="orderNum"      column="order_num"      />
        <result property="status"        column="status"         />
        <result property="delFlag"       column="del_flag"       />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"        column="remark"         />
    </resultMap>
    
    <sql id="selectCategoryVo">
        select category_id, category_name, category_code, order_num, status, del_flag, create_by, create_time, update_by, update_time, remark 
		from news_category
    </sql>
    
    <select id="selectCategoryById" parameterType="Long" resultMap="NewsCategoryResult">
        <include refid="selectCategoryVo"/>
        where category_id = #{categoryId}
    </select>
    
    <select id="selectCategoryList" parameterType="NewsCategory" resultMap="NewsCategoryResult">
        <include refid="selectCategoryVo"/>
        <where>
			del_flag = '0'
			<if test="categoryName != null and categoryName != ''">
				AND category_name like concat('%', #{categoryName}, '%')
			</if>
			<if test="categoryCode != null and categoryCode != ''">
				AND category_code = #{categoryCode}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
		</where>
		order by order_num asc
    </select>
    
    <insert id="insertCategory" parameterType="NewsCategory">
        insert into news_category (
			<if test="categoryName != null and categoryName != '' ">category_name, </if>
			<if test="categoryCode != null and categoryCode != '' ">category_code, </if>
			<if test="orderNum != null">order_num, </if>
			<if test="status != null and status != '' ">status, </if>
			<if test="remark != null and remark != ''">remark,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			create_time
 		)values(
			<if test="categoryName != null and categoryName != ''">#{categoryName}, </if>
			<if test="categoryCode != null and categoryCode != ''">#{categoryCode}, </if>
			<if test="orderNum != null">#{orderNum}, </if>
			<if test="status != null and status != ''">#{status}, </if>
			<if test="remark != null and remark != ''">#{remark},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			sysdate()
		)
    </insert>
	 
    <update id="updateCategory" parameterType="NewsCategory">
        update news_category 
        <set>
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName}, </if>
            <if test="categoryCode != null and categoryCode != ''">category_code = #{categoryCode}, </if>
            <if test="orderNum != null">order_num = #{orderNum}, </if>
            <if test="status != null and status != ''">status = #{status}, </if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate()
        </set>
        where category_id = #{categoryId}
    </update>
	
    <delete id="deleteCategoryByIds" parameterType="String">
        delete from news_category where category_id in 
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>
    
    <select id="selectEnabledCategoryList" resultMap="NewsCategoryResult">
        <include refid="selectCategoryVo"/>
        where del_flag = '0' and status = '0'
        order by order_num asc
    </select>
    
</mapper>
