<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserProfileMapper">
    
    <resultMap type="UserProfile" id="UserProfileResult">
        <result property="profileId"       column="profile_id"       />
        <result property="userId"          column="user_id"          />
        <result property="nickname"        column="nickname"         />
        <result property="avatar"          column="avatar"           />
        <result property="bio"             column="bio"              />
        <result property="points"          column="points"           />
        <result property="cashBalance"     column="cash_balance"     />
        <result property="lastCheckin"     column="last_checkin"     />
        <result property="checkinDays"     column="checkin_days"     />
        <result property="followingCount"  column="following_count"  />
        <result property="followersCount"  column="followers_count"  />
        <result property="friendsCount"    column="friends_count"    />
        <result property="likesCount"      column="likes_count"      />
        <result property="level"           column="level"            />
        <result property="vipLevel"        column="vip_level"        />
        <result property="vipExpireTime"   column="vip_expire_time"  />
        <result property="createBy"        column="create_by"        />
        <result property="createTime"      column="create_time"      />
        <result property="updateBy"        column="update_by"        />
        <result property="updateTime"      column="update_time"      />
        <result property="remark"          column="remark"           />
    </resultMap>
    
    <sql id="selectUserProfileVo">
        select profile_id, user_id, nickname, avatar, bio, points, cash_balance, last_checkin, checkin_days, following_count, followers_count, friends_count, likes_count, level, vip_level, vip_expire_time, create_by, create_time, update_by, update_time, remark 
		from user_profile
    </sql>
    
    <select id="selectUserProfileByUserId" parameterType="Long" resultMap="UserProfileResult">
        <include refid="selectUserProfileVo"/>
        where user_id = #{userId}
    </select>
    
    <select id="selectUserProfileById" parameterType="Long" resultMap="UserProfileResult">
        <include refid="selectUserProfileVo"/>
        where profile_id = #{profileId}
    </select>

    <select id="selectUserProfileList" parameterType="UserProfile" resultMap="UserProfileResult">
        <include refid="selectUserProfileVo"/>
        <where>
            <if test="nickname != null and nickname != ''"> AND nickname like concat('%', #{nickname}, '%')</if>
            <if test="userId != null"> AND user_id = #{userId}</if>
            <if test="level != null"> AND level = #{level}</if>
            <if test="vipLevel != null"> AND vip_level = #{vipLevel}</if>
        </where>
    </select>

    <insert id="insertUserProfile" parameterType="UserProfile">
        insert into user_profile (
			<if test="userId != null">user_id, </if>
			<if test="nickname != null and nickname != '' ">nickname, </if>
			<if test="avatar != null and avatar != '' ">avatar, </if>
			<if test="bio != null and bio != '' ">bio, </if>
			<if test="points != null">points, </if>
			<if test="cashBalance != null">cash_balance, </if>
			<if test="lastCheckin != null">last_checkin, </if>
			<if test="checkinDays != null">checkin_days, </if>
			<if test="followingCount != null">following_count, </if>
			<if test="followersCount != null">followers_count, </if>
			<if test="friendsCount != null">friends_count, </if>
			<if test="likesCount != null">likes_count, </if>
			<if test="level != null">level, </if>
			<if test="vipLevel != null">vip_level, </if>
			<if test="vipExpireTime != null">vip_expire_time, </if>
			<if test="remark != null and remark != ''">remark,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			create_time
 		)values(
			<if test="userId != null">#{userId}, </if>
			<if test="nickname != null and nickname != ''">#{nickname}, </if>
			<if test="avatar != null and avatar != ''">#{avatar}, </if>
			<if test="bio != null and bio != ''">#{bio}, </if>
			<if test="points != null">#{points}, </if>
			<if test="cashBalance != null">#{cashBalance}, </if>
			<if test="lastCheckin != null">#{lastCheckin}, </if>
			<if test="checkinDays != null">#{checkinDays}, </if>
			<if test="followingCount != null">#{followingCount}, </if>
			<if test="followersCount != null">#{followersCount}, </if>
			<if test="friendsCount != null">#{friendsCount}, </if>
			<if test="likesCount != null">#{likesCount}, </if>
			<if test="level != null">#{level}, </if>
			<if test="vipLevel != null">#{vipLevel}, </if>
			<if test="vipExpireTime != null">#{vipExpireTime}, </if>
			<if test="remark != null and remark != ''">#{remark},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			sysdate()
		)
    </insert>
	 
    <update id="updateUserProfile" parameterType="UserProfile">
        update user_profile 
        <set>
            <if test="nickname != null and nickname != ''">nickname = #{nickname}, </if>
            <if test="avatar != null">avatar = #{avatar}, </if>
            <if test="bio != null">bio = #{bio}, </if>
            <if test="points != null">points = #{points}, </if>
            <if test="cashBalance != null">cash_balance = #{cashBalance}, </if>
            <if test="lastCheckin != null">last_checkin = #{lastCheckin}, </if>
            <if test="checkinDays != null">checkin_days = #{checkinDays}, </if>
            <if test="followingCount != null">following_count = #{followingCount}, </if>
            <if test="followersCount != null">followers_count = #{followersCount}, </if>
            <if test="friendsCount != null">friends_count = #{friendsCount}, </if>
            <if test="likesCount != null">likes_count = #{likesCount}, </if>
            <if test="level != null">level = #{level}, </if>
            <if test="vipLevel != null">vip_level = #{vipLevel}, </if>
            <if test="vipExpireTime != null">vip_expire_time = #{vipExpireTime}, </if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate()
        </set>
        where profile_id = #{profileId}
    </update>
    
</mapper>
